:root {
    --primary-font: 'Roboto', sans-serif;
    --title-color: #2E2F42;
    --text-color: #434455;
    --between-letters: 0.02em;
    --titleh2-size: 36px;
    --titleh3-size: 20px;
    --textp-size: 16px;
    --height-line: 1.5;
    --heighth1-line: 1.07;
    --heighth2-line: 1.11;
    --heighth3-line: 1.2;

}

body {
    font-family: "Roboto", sans-serif;
    font-family: var(--primary-font);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Tangerine', cursive;
    background: #FFFFFF;
    color: var(--title-color);
    color: var(--text-color);
    letter-spacing: var(--between-letters);
    font-size: var(--titleh2-size);
    font-size: var(--titleh3-size);
    font-size: var(--textp-size);
    line-height: var(--height-line);
    line-height: var(--heighth1-line);
    line-height: var(--heighth2-line);
    line-height: var(--heighth3-line);
    display: flex;   
    justify-content: center;
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}





.logo-span {
    color: #2e2f42;
}

.logo-span-foot {
    color: #F4F4FD;
}





.footer-text {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding-top: 17.5px;
}

.main-title {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: var(--heighth1-line);
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-bottom: 48px;
    
}


.main-button {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    cursor: pointer;
    width: 169px;
        height: 56px;
    
}

.main-button:hover {
    background: #404BBF;
}

.main-button:focus {
    background-color: #404BBF;
}



.title-name {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: var(--titleh3-size);
    
    letter-spacing: var(--between-letters);
    color: var(--title-color);
    line-height: var(--heighth3-line);
    
   
}

.desc {
padding-top: 120px;
    padding-bottom: 8px;
    text-align: left;
}

.team {
    text-align: center; 
    padding-top: 32px;
}


.text-description {
    font-family: var(--primary-font);
    font-size: var(--textp-size);
    line-height: var(--height-line);
    letter-spacing: var(--between-letters);
    color: var(--text-color);  
}

.ourteam {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 32px;
    
}

.title-subject {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: var(--titleh2-size);
    line-height: var(--heighth2-line);
    text-align: center;
    letter-spacing: var(--between-letters);
    text-transform: capitalize;
    color: var(--title-color);
    padding-top: 120px;
    padding-bottom: 72px;
}


.menu-button {
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: var(--textp-size);
    line-height: var(--height-line);
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;
    width: 116px;
    height: 48px;
}


.menu-button:hover {
    background-color: #404BBF;
    color: #FFFFFF;
    cursor: pointer;
}

.menu-button:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}



.link {
    text-decoration: none;
    --primary-font: 'Roboto', sans-serif;

}

.link:focus,
.link:hover {
    color: #404BBF;
}





.color {
    color: #2E2F42;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.addlink {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}



.sec-ourteam {
    background-color: #F4F4FD;
    margin-top: 120px;
}

.list-ourteam {
    background-color: #FFFFFF;
    background: #FFFFFF;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
}


.site-nav {   
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D5AE5;
}




.container {
    display: flex;
    
    margin: 0 156px;
    border-bottom: 1px solid #ff0000;
}

.direction {
    display: flex;
    flex-direction: column;
    margin-top: 101.5px;
    

}

.direction-title {
    flex-direction: column;
    align-items: center;
    height: 600px;
    justify-content: center;
        
}

.direction-header {
    display: flex;
    align-items: baseline;
    /* justify-content: space-evenly; */
}


.logo {
padding: 25px 0;
    
}

.nav-menu {
   padding-left: 76px; 
    
}

.list {
    display: flex;
    list-style: none;
    
 
    
}

.address {
    padding-right: 0;
    font-style: normal;
    padding-left: 332px;
}

.section-main {
    width: 1440px;
        height: 600px;
        display: flex;
        flex-direction: column;
        background: #2E2F42;
        justify-content: center;
            align-items: center;
    
}

.footer {
    width: 1440px;
    height: 312px;
    background: #2E2F42;
    display: flex;
        flex-direction: column;
}

.page-container {
    width: 1440px;
        height: 100%;
        display: flex;
        flex-direction: column;
        
    font-family: "Roboto", sans-serif;

}

.list-nav {
    
}

.benefits {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    
    padding-left: 0;
  
}

.description {
    display: flex;
    
        gap: 24px;
    
        padding: 0;
}

.description-range {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 48px;
    column-gap: 24px;
    padding: 0;
}

.test {
    width: 264px;
}

.position {
    padding-bottom: 120px;
}

.portfolio {
    
}

.portfolio-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 95px;
    margin-bottom: 72px;
}

.box {
        border: 1px solid #E7E9FC;
}

.box-main {
    margin-bottom: 120px;

}

.header-portfolio {
    padding-left: 16px;
    padding-top: 32px;
    padding-bottom: 8px;
}

.paragraph-portfolio {
    padding-left: 16px;  
    padding-bottom: 32px;
}

.portfolio-chess {
    margin-bottom: 120px;
}