:root {
    --primary-font: 'Roboto', sans-serif;
    --title-color: #2E2F42;
    --text-color: #434455;
    --between-letters: 0.02em;
    --titleh2-size: 36px;
    --titleh3-size: 20px;
    --textp-size: 16px;
    --height-line: 1.5;
    --heighth1-line: 1.07;
    --heighth2-line: 1.11;
    --heighth3-line: 1.2;
}

body {
    font-family: "Roboto", sans-serif;
    font-family: var(--primary-font);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Tangerine', cursive;
    background: #FFFFFF;
    color: var(--title-color);
    color: var(--text-color);
    letter-spacing: var(--between-letters);
    font-size: var(--titleh2-size);
    font-size: var(--titleh3-size);
    font-size: var(--textp-size);
    line-height: var(--height-line);
    line-height: var(--heighth1-line);
    line-height: var(--heighth2-line);
    line-height: var(--heighth3-line);
    display: flex;   
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,

p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.logo-span {
    color: #2e2f42;
}

.logo-span-foot {
    color: #F4F4FD;
}

.footer-text {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    
}

.main-title {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: var(--heighth1-line);
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-bottom: 48px;
    max-width: 496px;
    
}

.main-button {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;



    }

.main-button:hover {
    background: #404BBF;
}

.main-button:focus {
    background-color: #404BBF;
}

.title-name {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: var(--titleh3-size);
    letter-spacing: var(--between-letters);
    color: var(--title-color);
    line-height: var(--heighth3-line);   
}

.desc {
    margin-bottom: 8px;
    text-align: left;
}

.team {
    text-align: center; 
    margin-bottom: 8px;
}

.text-description {
    font-family: var(--primary-font);
    font-size: var(--textp-size);
    line-height: var(--height-line);
    letter-spacing: var(--between-letters);
    color: var(--text-color);  
}

.ourteam {
    text-align: center;
       
}

.title-subject {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: var(--titleh2-size);
    line-height: var(--heighth2-line);
    text-align: center;
    letter-spacing: var(--between-letters);
    text-transform: capitalize;
    color: var(--title-color);
    
}

.menu-button {
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: var(--textp-size);
    line-height: var(--height-line);
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;
    width: 116px;
    height: 48px;
}

.menu-button:hover {
    background-color: #404BBF;
    color: #FFFFFF;
    cursor: pointer;
}

.menu-button:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.link {
    text-decoration: none;
    --primary-font: 'Roboto', sans-serif;
}

.link:focus,
.link:hover {
    color: #404BBF;
}

.color {
    color: #2E2F42;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0 24px 0;
}

.addlink {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0 24px 0;
}

.sec-ourteam {
    background-color: #F4F4FD;
    padding: 120px 0;

    
}

.list-ourteam {
    
    background-color: #FFFFFF;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
}

.site-nav {  
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D5AE5;
}

.header-logo {
    margin-right: 76px;
    padding: 24px 0 24px 0;
}

.container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    
}

.direction {
    display: flex;
    flex-direction: column;
}

.direction-title {
    flex-direction: column;
    align-items: center;
    height: 600px;
    justify-content: center;
    padding: 188px 0 188px 0;
}

.direction-header {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 0 15px 0 15px;
}



.nav-menu {
    display: flex;
    align-items: center;
   padding-left: 0px; 
}

.list {
    display: flex;
    list-style: none; 
}

.address {
    padding-right: 0;
    font-style: normal;
    padding-left: 332px;
}

.section-main {
    width: 1440px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background: #2E2F42;
    justify-content: center;
    align-items: center;   
}

.footer {
    width: 1440px;
    height: 312px;
    background: #2E2F42;
    display: flex;
    flex-direction: column;
    padding: 100px 0;
}

.page-container {
    width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: column;    
    font-family: "Roboto", sans-serif;
}

.benefits {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;  
    padding-left: 0;
}

.description {
    display: flex;
    gap: 24px;
    padding: 0;
}

.description-range {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.test {
    width: 264px;
}

.position {
    flex-direction: column;
}

.portfolio-nav {
    display: flex; 
    justify-content: center;
    margin-bottom: 72px;
}

.box {
    width: calc((100% - 48px) / 3);
    border: 1px solid #E7E9FC;
}

.box-main {
    margin-bottom: 120px;
}

.header-portfolio {
 
    margin-bottom: 8px;
}

.blue-line {
    border-bottom: 1px solid #E7E9FC; 
}

.picture {
    
    display: block;
    
}

.section-description {
    padding: 120px 0;
    
}

.visually-hidden {
     position: absolute;
     white-space: nowrap;
     width: 1px;
     height: 1px;
     overflow: hidden;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     -webkit-clip-path: inset(50%);
     clip-path: inset(50%);
     margin: -1px;
 }

 .footer-link {
    display: inline-block;
    margin-bottom: 16px;
 }

 .section-wedoing {
    padding-bottom: 120px;
    
 }

 .wedoing {
    
    margin-bottom: 72px;
 }

 .wedoing-item {
    width: calc((100% - 48px) / 3);
 }

 .name-ocupation {
    padding: 32px 16px;
 }
 
 .portfolio-main {

    padding-top: 96px;
    padding-bottom: 120px;
 }

 .chess-wrap {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.route {
    display: flex;
    flex-direction: column;
}

 